In [35]:
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
from matplotlib import cm
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats
from scipy.stats import wilcoxon
from scipy.stats import mannwhitneyu

In [36]:

df = pd.read_excel ('SDR_burned_area_1.xlsx') #Read excel file

In [37]:
df.head()

,zone,count,count_2,AREA,MONTH,YEAR,id1,LULC,IBGE,LULC_1,...,ES_EXPORT/,ES_AVOID/H,d_riversme,d_rivers_1,RIVERS,d_riversma,D_roadsmea,D_roadsmed,ROADS,D_roadsmax
0,1009,15,72,1.239,10,2019,405,Eucalyptus,E,109,...,3.768632,3.644567,261.544904,256.478546,190.804214,344.827881,3462.462539,3465.721628,3376.886476,3537.619315
1,1009,45,44,3.633,10,2011,233,Eucalyptus,E,109,...,0.974985,2.665455,177.993156,174.104858,112.500000,262.500000,113.465742,106.777934,0.000000,267.453992
2,1009,23,186,1.899,10,2011,230,Eucalyptus,E,109,...,1.655464,4.111118,190.326593,194.854073,70.710678,289.935333,113.126914,112.480404,37.493468,174.958017
3,1009,110,112,7.026,10,2014,342,Eucalyptus,E,109,...,0.161882,0.226702,235.470778,227.244118,100.000000,397.256195,342.137031,346.115284,123.718066,548.191231
4,1003,136,3967,11.236,10,2014,337,HAG,r,203,...,4.824746,13.093077,294.400254,292.617493,50.000000,519.915894,1649.482721,1663.642607,1347.099354,2013.119411

In [38]:
df.info

<bound method DataFrame.info of      zone  count  count_2    AREA  MONTH  YEAR  id1           LULC IBGE  \
0    1009     15       72   1.239     10  2019  405     Eucalyptus    E
1    1009     45       44   3.633     10  2011  233     Eucalyptus    E
2    1009     23      186   1.899     10  2011  230     Eucalyptus    E
3    1009    110      112   7.026     10  2014  342     Eucalyptus    E
4    1003    136     3967  11.236     10  2014  337            HAG    r
..    ...    ...      ...     ...    ...   ...  ...            ...  ...
537   603     58     6606   4.794      6  2000  535  Secondary SSF    F
538   903     21      222   1.736      9  2014  303  Secondary SSF    F
539   703     90     6606   6.281      7  2000  536  Secondary SSF    F
540  1003     24      956   1.157     10  2019  394  Secondary SSF    F
541  1003     32       57   1.405     10  2019  403  Secondary SSF    F

     LULC_1  ...  ES_EXPORT/  ES_AVOID/H  d_riversme  d_rivers_1      RIVERS  \
0       109  ...    3.768632    3.644567  261.544904  256.478546  190.804214
1       109  ...    0.974985    2.665455  177.993156  174.104858  112.500000
2       109  ...    1.655464    4.111118  190.326593  194.854073   70.710678
3       109  ...    0.161882    0.226702  235.470778  227.244118  100.000000
4       203  ...    4.824746   13.093077  294.400254  292.617493   50.000000
..      ...  ...         ...         ...         ...         ...         ...
537     303  ...    0.004211   -0.003956  125.429289  125.000000    0.000000
538     303  ...    0.008535   -0.007651  266.211019  265.753662  170.018387
539     303  ...    0.000766    0.000910   69.165710   55.901699    0.000000
540     303  ...    0.003282   -0.002872   25.524928   25.000000    0.000000
541     303  ...    0.002570   -0.002154  205.768441  205.585266  115.244308

     d_riversma   D_roadsmea   D_roadsmed        ROADS   D_roadsmax
0    344.827881  3462.462539  3465.721628  3376.886476  3537.619315
1    262.500000   113.465742   106.777934     0.000000   267.453992
2    289.935333   113.126914   112.480404    37.493468   174.958017
3    397.256195   342.137031   346.115284   123.718066   548.191231
4    519.915894  1649.482721  1663.642607  1347.099354  2013.119411
..          ...          ...          ...          ...          ...
537  252.796860   906.452651   921.736117   733.503261  1078.882540
538  340.036774    32.370914    24.995645     0.000000    95.175296
539  218.660690   928.065340   932.389179   687.789412  1181.950401
540   80.039055  1166.861031  1162.221112  1112.233108  1249.700121
541  290.742584  1821.592414  1814.014673  1738.320741  1908.895453

[542 rows x 53 columns]>

In [48]:
stats.wilcoxon(df['ES__usle_p'], df['ES__usle_1'])

WilcoxonResult(statistic=1066.0, pvalue=6.199221182207793e-88)

In [45]:

stats.wilcoxon(df['ES__ex_pre'], df['ES__ex_pos'])

WilcoxonResult(statistic=1195.0, pvalue=4.0140590835698492e-87)

In [46]:
stats.wilcoxon(df['ES__av_pre'], df['ES__av_pos'])

WilcoxonResult(statistic=4023.0, pvalue=1.5408841298574505e-78)